<div class="sectionDiv">
    <div id="representativesImg"></div>
    <h1>The Representatives</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, nesciunt dolor asperiores cumque porro, quidem perferendis nemo eos deleniti ducimus veniam cupiditate facilis! Commodi temporibus voluptates, qui quam ea magni?</p>
</div>
<div id="representativesDiv">
{{#representatives}}
    <div id="userCard">
        <div>
            <a href="{{user_page}}"><img src={{#if image_url}}{{image_url}}{{else}}"../assets/user_white.png"{{/if}} alt="" /></a>
            <h3>{{first_name}} {{last_name}}</h3>
            <p>{{#if quote }}"{{quote}}"{{/if}}</p>
            <p>{{party}}</p>
            <p>Joined: {{created_at}}</p>
        </div>
    </div>
{{/representatives}}
</div>

{{!-- {{#each representatives}} --}}
{{!-- {{this}} --}}
{{!-- {{/each}} --}}