<div class="sectionDiv">
    <h1>HOUSE REPRESENTATIVES</h1>
    <p>This is an explanation of the house representatives.</p>
    <p>A list of representatives should be shown below.</p>
</div>
{{#representatives}}
<div class="representativeDiv">
        <img id="representativeImg" src={{#if image_url}}{{image_url}}{{else}}"./assets/default_user.jpeg"{{/if}} alt="signature" />
        <div>
            <h3>{{first_name}} {{last_name}}</h3>
            <p>{{quote}}</p>
            <p>{{party}}</p>
        </div>
    </div>
{{/representatives}}

{{!-- {{#each representatives}} --}}
{{!-- {{this}} --}}
{{!-- {{/each}} --}}